/*decendant selector*/
div p{
    background-color: aqua;
}
/*child selector*/
div>p{
    background-color: blueviolet;
}
/*adjacent selector*/
h4+h2{
    background-color: black;
    color: beige;
}
/*general selector*/ 
p~h1{
    background-color: brown;
    color:aqua;
}