#div1{
    color: blueviolet;
    background-color: bisque;
    font-size: 30px;
    /*font-weight: 100;*/
    font-style: italic;
}
#div2
{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}